@charset "UTF-8";
@font-face {
  font-family: "lillyBelle";
  src: url("fonts/LillyBelle.ttf") format("truetype"); }
@font-face {
  font-family: "neutraTextBook";
  src: url("fonts/NeutraText-Book.otf") format("opentype"); }
@font-face {
  font-family: "neutraTextBold";
  src: url("fonts/NeutraBold.otf") format("opentype"); }
/* ---- ESTILOS DE SOCIAL NETWORK --- */
#links {
  width: 100%; }

#link-fb {
  top: 16vh; }

#link-insta {
  top: 27vh; }

.social-network-btn {
  background: #883A53;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 13px;
  display: block;
  float: right;
  height: 8vh;
  position: fixed;
  right: 0;
  width: 8vh;
  z-index: 100; }

/* ---- ESTILOS DEL SLIDER --- */
.slider {
  margin-bottom: -7vh; }

.slider .indicators .indicator-item {
  background-color: rgba(255, 255, 255, 0.3) !important; }

.slider .indicators .indicator-item.active {
  background-color: #DC819C !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.slider .indicators {
  bottom: 8vh !important;
  z-index: 100 !important; }

.ug-gallery-wrapper .ug-grid-panel {
  background: none !important; }

/* ---- ESTILOS DEL NAV --- */
#nav {
  background-color: #EFD8CC;
  padding-left: 3vw; }

#nav ul a {
  color: #883A53;
  font-family: "neutraTextBold", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase; }

#brand-logo {
  box-sizing: border-box; }

#nav-logo {
  height: 1.6em; }

#logo-foliette {
  color: #883A53;
  font-family: "neutraTextBold", sans-serif;
  font-size: 0.6em;
  margin-left: 0.7vw; }

#logo-atelier {
  color: #DC819C;
  font-family: "lillyBelle", sans-serif;
  font-size: 0.6em; }

.nav-item:hover {
  border-radius: 5px;
  color: #EFD8CC !important;
  background-color: rgba(136, 58, 83, 0.9);
  text-decoration: underline; }

/* ---- ESTILOS DE PRODUCTOS --- */
#products {
  background-color: #883A53; }

#products p {
  color: #EFD8CC;
  font-family: "neutraTextBook", sans-serif;
  margin: 0; }

.products-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .products-img:hover {
    border: 5px solid #DC819C; }

.products-name {
  color: #DC819C;
  font-family: "neutraTextBold", sans-serif;
  font-size: 1.4em;
  margin-bottom: 1vh; }

.products-shop {
  margin-right: 0.5em;
  margin-bottom: -1vh; }

.products-info {
  color: #DC819C;
  border: 1px solid #DC819C;
  border-radius: 0.3em;
  display: inline-block;
  padding: 0.2em 0.3em; }
  .products-info:hover {
    background-color: #DC819C;
    border: 1px solid #EFD8CC; }

/* ---- ESTILOS DE LA GALERÍA --- */
#sample-fabric {
  background-color: #883A53; }

/* ---- ESTILOS DEL BLOG --- */
#blog {
  background: url("../assets/images/foliette-name.png");
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: 99% 55%; }

.card-image-size {
  height: 25vh; }

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
  max-height: 45% !important; }

/* ---- ESTILOS DE HISTORIA --- */
#about {
  background: url("../assets/images/leaves-background.png") no-repeat;
  background-position: cover;
  color: #883A53;
  font-family: "neutraTextBook", sans-serif; }

.about-text {
  margin-top: 6vh; }

.about-name {
  font-family: "neutraTextBold", sans-serif; }

/* ---- ESTILOS DE CONTACTO --- */
#contact {
  background-color: #EFD8CC;
  background-position: center;
  background-size: cover;
  padding: 3vh 0; }

#contact-email {
  border: 2px solid #DC819C;
  border-radius: 0.7em;
  color: #883A53;
  font-size: 0.7em;
  padding: 0.5em 1em; }

/* ---- ESTILOS DE FOOTER --- */
#footer-logo {
  display: inline;
  height: 5vh; }

#footer-foliette {
  color: #EFD8CC;
  font-family: "neutraTextBold", sans-serif;
  font-size: 1em;
  margin-left: 0.4vw; }

#footer-atelier {
  color: #DC819C;
  font-family: "lillyBelle", sans-serif;
  font-size: 1em; }

#follow {
  color: #DC819C;
  font-variant: small-caps; }

.footer-icon {
  height: 5vh;
  padding-left: 1vw; }

.footer-modo {
  border-radius: 0.7em;
  height: 12vh; }

footer {
  background-color: #883A53;
  color: #EFD8CC;
  margin: 0;
  padding: 3vh 0 1vh 0; }

footer p {
  margin: 0; }

/* ---- ESTILOS GENERALES --- */
section {
  padding: 4vh 0; }

.section-logo {
  height: 4em; }

.section-name {
  color: #EFD8CC;
  font-family: "neutraTextBold", sans-serif;
  font-size: 1.9em;
  margin-top: 0; }
  .section-name:hover {
    text-decoration: underline; }

.btn-style {
  border-radius: 0.7em;
  background-color: #883A53;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  color: #EFD8CC;
  padding: 0.8em;
  text-align: right; }

/*# sourceMappingURL=main.css.map */
